#header.navbar.navbar-introduction.navbar-fixed-top
  .container
    .navbar-brand
      = @applicant.address.person
      .slogan= @applicant.slogan

    %ul.nav.navbar-nav.pull-right.hidden-sm-down{ role: 'tablist'}
      %li.nav-item
        = link_to t(:header, scope: 'applicant.introduction'), '#goto-introduction', class: 'nav-link anchor'
      %li.nav-item
        = link_to t(:header, scope: 'applicant.chronicle'), '#goto-chronicle', class: 'nav-link anchor'
      %li.nav-item
        = link_to t(:header, scope: 'applicant.skills'), '#goto-skills', class: 'nav-link anchor'
