#header.navbar.navbar-light.navbar-fixed-top
  .container
    .navbar-brand
      = "#{@applicant.first_name} #{@applicant.last_name}"
      .slogan= @applicant.slogan

    %ul.nav.navbar-nav.pull-right{ role: 'tablist'}
      %li.nav-item
        = link_to t(:header, scope: 'applicant.introduction'), '#introduction', class: 'nav-link anchor'
      %li.nav-item
        = link_to t(:header, scope: 'applicant.chronicle'), '#chronicle', class: 'nav-link anchor'
