%span.goto#goto-introduction
%section#introduction
  %a.left.carousel-control.hidden-md-down{"data-slide" => "prev", :href => "#carousel", :role => "button"}
    %span.icon-prev{"aria-hidden" => "true"}
    %span.sr-only Previous

  .container
    #carousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel"}
      .carousel-inner{:role => "listbox"}
        - applicant.images.order(:id).each_with_index do |i, index|
          .carousel-item{class: "#{'active' if index == 0 }"}
            .table-wrapper
              .image
                = image_tag i.url, alt: i.title, class: 'img-fluid'
              .quote.hidden-sm-down
                = icon 'fas', 'quote-left'
                = i.description
                = icon 'fas', 'quote-right'
            .carousel-caption
              %h3= i.title

  %a.right.carousel-control.hidden-md-down{"data-slide" => "next", :href => "#carousel", :role => "button"}
    %span.icon-next{"aria-hidden" => "true"}
    %span.sr-only Next
