%span.goto#goto-introduction
%section.section-introduction
  .container
    #introduction-carousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#introduction-carousel"}
        %li{"data-slide-to" => "1", "data-target" => "#introduction-carousel"}
        %li{"data-slide-to" => "2", "data-target" => "#introduction-carousel"}

      .carousel-inner
        - applicant.images.order(:id).each_with_index do |i, index|
          .carousel-item{class: "#{'active' if index == 0 }"}
            .table-wrapper
              .image
                = image_tag image_path(i.url), alt: i.title, class: 'img-fluid'
              .quote.d-none.d-md-block
                = icon 'fas', 'quote-left'
                = i.description
                = icon 'fas', 'quote-right'
            .carousel-caption
              %h3= i.title

    %a.carousel-control-prev{"data-slide" => "prev", :href => "#introduction-carousel", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#introduction-carousel", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
