- content_for :header do
  = render 'header', applicant: @applicant

%section#introduction
  .images
    .container
      .card-group
        - @applicant.images.each do |i|
          .card.card-inverse{"aria-controls" => "image_#{i.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#image_#{i.id}"}
            = image_tag i.url, alt: i.title
            .card-img-overlay
              %h4.card-title= i.title

  .descriptions
    - @applicant.images.each do |i|
      .description
        .container
          .collapse{id: "image_#{i.id}"}
            .card-block
              %h4.card-title= i.description

%section#timeline
  .container
    %ul.timeline
      - @applicant.chronicle_items.sort_by(&:id).each do |ci|
        - alignment = ci.id.even? ? :right : nil
        = render ci, alignment: alignment
