- content_for :header do
  = render 'header', applicant: @applicant

= render 'introduction_section', applicant: @applicant
= render 'chronicle_items/chronicle_items_section', applicant: @applicant
= render 'skills/skills_section', applicant: @applicant
= render 'interests/interests_section', applicant: @applicant
= render 'faqs/faqs_section', applicant: @applicant
