- alignment ||= nil

%li{class: ('timeline-inverted' if alignment == :right) }
  .timeline-badge{class: job.color_class}
    = icon job.badge
  .timeline-card
    .timeline-heading
      .timeline-title
        %h4
          - if job.position
            = t(job.position, scope: 'enums.chronicle_item.position')
            .small= t(job.employment, scope: 'enums.chronicle_item.employment')
          - else
            = job.title
          - if job.description
            %i.fa.fa-chevron-circle-up.pull-right.toggle_collapse_icon{"aria-controls" => "job_#{job.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#job_#{job.id}"}
      %p
        %small.text-muted
          = icon('calendar')
          = job.period
          &nbsp;
          = icon('clock-o')
          = distance_of_time_in_words(job.ended_at_extended, job.started_at)
        - if job.address
          %br
          %small.text-muted
            = icon 'building-o'
            = job.address

    - if job.description
      .timeline-body
        .collapse{id: "job_#{job.id}"}
          %ul
            - job.description.split(';').each do |part|
              %li= part
            %li= job.experiences.map(&:title).join(', ')
