- i18n_scope = 'applicant.skills'
%span.goto#goto-skills
%section.section-skills{style:"min-height: 500px"}
  = render "skills/filter"

  .container
    %h1.text-center.p-3.m-0= t(:header, scope: i18n_scope)
    
    .f-row.f-wrap.mx--6
      - applicant.skill_type_groups.each do |skill_type_group|
        - skill_type_group.skill_groups.each do |skill_group|
          .card.card-body.border-0.py-7.px-6.mx-7.mb-6{class: "js-skill #{Skill.color_class_for(skill_type_group.type)} #{skill_group.skill.top ? "is-top" : ""}"}
            .f-row.f-ccenter
              - if skill_group.skill.top
                %h4.m-0
                  %u= skill_group.skill.title
              - else
                %h4.m-0= skill_group.skill.title
              .f-row.f-ccenter.text-5.ml-7
                .badge{class: "#{Skill.accent_color_class_for(skill_type_group.type)}", "data-toggle" => "tooltip", "data-html" =>"true", "data-container"=>"body", title: skill_group.experience_groups_in_words}= skill_group.time_range.reduced_period_in_words
