- alignment ||= nil

%li{class: ('timeline-inverted' if alignment == :right) }
  .timeline-badge.primary
    = icon chronicle_item.badge
    -# %span.fa-stack
    -#   = icon('star', class: 'fa-stack-2x')
    -#   = icon('twitter', class: 'fa-stack-1x primary')
  .timeline-card
    .timeline-heading
      %h4.timeline-title
        = chronicle_item.title
        = icon('star') if chronicle_item.important
        %i.fa.fa-chevron-circle-up.pull-right.toggle_collapse_icon{"aria-controls" => "chronicle_item_#{chronicle_item.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#chronicle_item_#{chronicle_item.id}"}
      %p
        %small.text-muted
          = icon 'calendar'
          = l chronicle_item.started_at, format: '%m/%Y'
          = '-'
          = chronicle_item.ended_at ? l(chronicle_item.ended_at, format: '%m/%Y') : 'heute'
          &nbsp;
          = icon 'clock-o'
          = distance_of_time_in_words(chronicle_item.ended_at, chronicle_item.started_at , true) # 1.month
        - if chronicle_item.address
          %br
          %small.text-muted
            = icon 'building-o'
            = "#{chronicle_item.address.name}, #{chronicle_item.employment}".html_safe

    .timeline-body
      .collapse{id: "chronicle_item_#{chronicle_item.id}"}
        %ul
          - chronicle_item.description.split(';').each do |part|
            %li= part
          %li= chronicle_item.experiences.map(&:title).join(', ')
