- i18n_scope = 'applicant.chronicle'
%span.goto#goto-chronicle
%section#chronicle
  .filter.hidden-lg-down
    %ul
      -# %li
      -#   %span.fa-stack.fa-lg.timeline-badge{"data-toggle" => "tooltip", "data-placement" => "right", title: "Tooltip on top"}
      -#     = icon 'star', class: "fa-stack-2x"
      - ChronicleItem.subclasses.each do |klass|
        %li{class: klass.model_name.to_s.underscore }
          - disable_tooltip_message = t(:tooltip_disable, scope: i18n_scope, model: klass.model_name.human)
          - enable_tooltip_message = t(:tooltip_enable, scope: i18n_scope, model: klass.model_name.human)
          = content_tag(:span, class: 'fa-stack fa-lg timeline-badge', data: { toggle: 'tooltip', placement: 'right', disable_tooltip_message: disable_tooltip_message, enable_tooltip_message: enable_tooltip_message  }, title: disable_tooltip_message) do
            = icon 'circle', class: "fa-stack-2x #{klass.color_class}"
            = icon klass.icon, class: 'fa-stack-1x fa-inverse'

  .container
    %h1= t(:header, scope: i18n_scope)
    %ul.timeline
      - applicant.chronicle_items.sort_by(&:id).each do |ci|
        - alignment = ci.id.even? ? :right : nil
        = render 'chronicle_items/chronicle_item', chronicle_item: ci, alignment: alignment
