- i18n_scope = 'applicant.chronicle'
%span.goto#goto-chronicle
%section.section-chronicle.js-section-chronicle
  .filter.js-chronicle-filter{style: "display: none;"}
    %ul.list-unstyled.d-none.d-lg-block
      - ChronicleItem.subclasses.each do |klass|
        %li{"data-target-class" => "js-#{klass.model_name.to_s.underscore}" }
          - disable_tooltip_message = t(:tooltip_disable, scope: i18n_scope, model: klass.model_name.human)
          - enable_tooltip_message = t(:tooltip_enable, scope: i18n_scope, model: klass.model_name.human)
          = content_tag(:span, class: 'filter-item js-filter-item fa-stack fa-lg', data: { toggle: 'tooltip', placement: 'right', disable_tooltip_message: disable_tooltip_message, enable_tooltip_message: enable_tooltip_message  }, title: disable_tooltip_message) do
            = icon 'fas', 'circle', class: "fa-stack-2x text-#{klass.color_key}"
            = icon 'fas', klass.icon, class: 'fa-stack-1x fa-inverse'

  .container
    %h1.text-center.p-3.m-0= t(:header, scope: i18n_scope)
    %ul.timeline
      - applicant.chronicle_items.sort_by(&:id).each do |ci|
        - alignment = ci.id.even? ? :right : nil
        = render 'chronicle_items/chronicle_item', chronicle_item: ci, alignment: alignment
