- alignment ||= nil

%li{class: "#{('timeline-inverted' if alignment == :right)} #{chronicle_item.model_name.to_s.underscore}" }
  %span.fa-stack.fa-2x.timeline-badge
    - badge_class = chronicle_item.important ? 'star' : 'circle'
    = icon "fas", badge_class, class: "fa-stack-2x #{chronicle_item.class.color_class}"
    = icon "fas", chronicle_item.badge, class: 'fa-stack-1x fa-inverse'
  </span>
  .timeline-card
    .timeline-heading
      .timeline-title
        %h4
          = chronicle_item.card_title
          - if chronicle_item.card_sub_title
            .small= chronicle_item.card_sub_title
          - if chronicle_item.card_body?
            %i.fa.fa-chevron-circle-up.float-right.toggle_collapse_icon{"aria-controls" => "chronicle_item_#{chronicle_item.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#chronicle_item_#{chronicle_item.id}"}
      %p
        %small.text-muted.period
          %span
            = icon 'far', 'calendar-alt'
            = chronicle_item.time_range.period_as_dates
          %span
            = icon 'far', 'clock-o'
            = chronicle_item.time_range.period_in_words
        - if chronicle_item.address
          - address = chronicle_item.address
          %br
          %small.text-muted
            = icon chronicle_item.class.address_icon_font, chronicle_item.class.address_icon
            - if address.website
              = link_to address, address.website.url
            - else
              = address

    - if chronicle_item.card_body?
      .timeline-body
        .collapse{id: "chronicle_item_#{chronicle_item.id}"}
          %ul
            - if chronicle_item.description
              - chronicle_item.description.split(';').each do |description_item|
                %li= description_item
          - if chronicle_item.skills.present?
            %ul
              %li{class: chronicle_item.model_name.to_s.underscore}= chronicle_item.skills.sort_by(&:id).map(&:title).join(', ')
