- alignment ||= nil

%li{class: ('timeline-inverted' if alignment == :right) }
  .timeline-badge{class: education.color_class}
    = icon education.badge
  .timeline-card
    .timeline-heading
      .timeline-title
        %h4
          = education.title
          - if education.graduation
            .small= education.graduation
          - if education.description
            %i.fa.fa-chevron-circle-up.pull-right.toggle_collapse_icon{"aria-controls" => "education_#{education.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#education_#{education.id}"}
      %p
        %small.text-muted
          = icon('calendar')
          = education.period
          &nbsp;
          = icon('clock-o')
          = distance_of_time_in_words(education.ended_at_extended, education.started_at)
        - if education.address
          %br
          %small.text-muted
            = icon 'university'
            = education.address

    - if education.description
      .timeline-body
        .collapse{id: "education_#{education.id}"}
          %ul
            - education.description.split(';').each do |part|
              %li= part
            %li= education.experiences.map(&:title).join(', ')
