- alignment ||= nil

%li{class: ('timeline-inverted' if alignment == :right) }
  .timeline-badge{class: highlight.color_class}
    = icon highlight.badge
  .timeline-card
    .timeline-heading
      .timeline-title
        %h4= highlight.title
      %p
        %small.text-muted
          = icon 'calendar'
          = highlight.period
          &nbsp;
          = icon 'clock-o'
          = distance_of_time_in_words(highlight.ended_at_extended, highlight.started_at)
        - if highlight.address
          %br
          %small.text-muted
            = icon 'map-marker'
            = highlight.address
